@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Space Grotesk', sans-serif;
}

.main-container-1932{
    overflow-y: scroll;
}

.container-left-2321 {
    border-right: 0.5px solid white;
    height: 100vh;
    overflow-y: scroll;
}

.question-text-3203 {
    font-size: 2.25rem;
    font-weight: 500;
}

.answer-container-1264 {
    border-radius: 10px;
    padding: 1rem;
    border: 0.5px solid rgba(255, 255, 255, 0.185);
}

@media (hover: hover){
    
    .answer-container-1264:hover {
        background-color: rgb(39, 39, 39) !important;
    }
    
}

.answer-text-3278 {
    font-size: 1.75rem;
    font-weight: 400;
}

.answer-dot-2302 {
    height: 12px;
    width: 12px;
    background-color: rgb(56, 139, 105);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.train-navbar-2733 {
    font-weight: 300;
    color: white;
    font-size: .8rem;
}

.title-navbar-3293 {
    font-family: 'Poppins', sans-serif;
    color: white;
    letter-spacing: 1px;
}

.points-text-2938 {
    font-weight: 400;
}

.points-number-3231 {
    font-weight: 500;
}

.points-line-7290 {
    width: 100%;
    border: 0,5px solid white;
    opacity: 100%;
}

.points-dot-3829 {
    height: 12px;
    width: 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
}

.points-rectangle-2832 {
    height: 12px;
    width: 6px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 45%;
    
}

.points-average-3423 {
    z-index: -1;
}

.advanced-item-2389 {
    font-weight: 300;
    color: white;
    font-size: .8rem;
    text-decoration: none;
}